# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/aler9/rtsp-simple-server
services:
  {{ container_name }}:
    container_name: {{ container_name }}
    image: joaofnunes/rtsp-simple-server-ffmpeg
    user: {{ ansible_user_uid }}:{{ ansible_user_gid }}
    ports:
      - 8554:8554/tcp
    environment:
      RTSP_PROTOCOLS: "tcp"
      RTSP_RTMPDISABLE: "yes"
      RTSP_HLSDISABLE: "yes"
    volumes:
      - ./rtsp-simple-server.yml:/rtsp-simple-server.yml
      - ./create-video.sh:/create-video.sh
      - /mnt/seagate/rtsp/videos/:/videos/
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
