# {{ ansible_managed }}
---
version: '2'

services:
  {{ container_name }}:
    image: oznu/cloudflare-ddns:latest
    container_name: {{ container_name }}
    environment:
      PUID: {{ ansible_user_uid }}
      PGID: {{ ansible_user_gid }}
      TZ: {{ timezone }}
      API_KEY: {{ cloudflare_ddns_api_token }}
      PROXIED: 'true'
      ZONE: {{ cloudflare_ddns_zone }}
{% if cloudflare_ddns_subdomain is defined %}
      SUBDOMAIN: {{ cloudflare_ddns_subdomain }}
{% endif %}
    restart: unless-stopped
