# {{ ansible_managed }}
---
version: "3"

networks:
  pi-hole:
    external: true

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: '{{ timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
      PIHOLE_DNS_: '{{ unbound_ip }}'
      REV_SERVER: '{{ pihole_rev_server_enabled }}'
      REV_SERVER_CIDR: '{{ pihole_rev_server_cidr }}'
      REV_SERVER_TARGET: '{{ pihole_rev_server_target }}'
      REV_SERVER_DOMAIN: '{{ pihole_rev_server_domain }}'
      WEBTHEME: 'default-darker'

    dns:
      - 127.0.0.1
      - '{{ unbound_ip }}'
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - pi-hole
