# {{ ansible_managed }}
---
version: "2.1"

networks:
  {{ container_name }}:
    external: true

services:
  {{ container_name }}-mariadb:
    image: lscr.io/linuxserver/mariadb
    container_name: {{ container_name }}-mariadb
    environment:
      PUID: {{ ansible_user_uid }}
      PGID: {{ ansible_user_gid }}
      TZ: {{ timezone }}
      MYSQL_ROOT_PASSWORD: {{ nextcloud_mariadb_root_password }}
      MYSQL_DATABASE: {{ nextcloud_mariadb_database }}
      MYSQL_USER: {{ nextcloud_mariadb_user }}
      MYSQL_PASSWORD: {{ nextcloud_mariadb_password }}
    volumes:
      - ./mariadb-config:/config
    ports:
      - 3306:3306
    networks:
      - {{ container_name }}
    restart: unless-stopped

  {{ container_name }}:
    image: lscr.io/linuxserver/nextcloud
    container_name: {{ container_name }}
    environment:
      PUID: {{ ansible_user_uid }}
      PGID: {{ ansible_user_gid }}
      TZ: {{ timezone }}
    volumes:
      - ./config:/config
      - {{ nextcloud_data_volume_path }}:/data
    networks:
      - {{ container_name }}
    restart: unless-stopped
    labels:
      - traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.lan`,`{{ container_name }}.{{ traefik_dns_domain }}`)
      - traefik.http.services.{{ container_name }}.loadbalancer.server.port=443
      - traefik.http.services.{{ container_name }}.loadbalancer.server.scheme=https
