# {{ ansible_managed }}
---
version: "3"

networks:
  unbound:
    external: true
  pi-hole:
    external: true

# More info at https://github.com/MatthewVance/unbound-docker-rpi and https://unbound.net/
services:
  unbound:
    container_name: unbound
{% if ansible_machine.startswith("arm") %}
    image: mvance/unbound-rpi:latest
{% else %}
    image: mvance/unbound:latest
{% endif %}
    ports:
      - "5335:53/tcp"
      - "5335:53/udp"
    volumes:
      - './etc-unbound/:/opt/unbound/etc/unbound'
    restart: unless-stopped
    networks:
      unbound:
      pi-hole:
        ipv4_address: '{{ unbound_ip }}'
