# {{ ansible_managed }}
---
version: "3"

# More info at https://www.home-assistant.io/installation/raspberrypi
services:
  {{ container_name }}:
    container_name: {{ container_name }}
    image: ghcr.io/home-assistant/raspberrypi4-homeassistant:stable
    environment:
      TZ: '{{ timezone }}'
    volumes:
      - ./config:/config
      - ./configuration.yaml:/config/configuration.yaml
      - ./automations.yaml:/config/automations.yaml
      - /mnt/seagate/rtsp/videos/cams:/rtsp-cams:ro
{% for cam in home_assistant_cams %}
      - /mnt/seagate/rtsp/videos/cams/{{ cam.id }}/thumbnail.png:/config/www/{{ cam.id }}.png:ro
{% endfor %}
    networks:
      - {{ container_name }}
    restart: unless-stopped
    privileged: True
    labels:
      - traefik.http.routers.{{ container_name }}.rule=Host(`{{ container_name }}.lan`,`{{ container_name }}.{{ traefik_dns_domain }}`)
      - traefik.http.routers.{{ container_name }}.tls
      - traefik.http.services.{{ container_name }}.loadbalancer.server.port=8123

networks:
  {{ container_name }}:
    external: true
